@model  Mercedes_Matriz_de_Conhecimento.tblMatrizFuncXTreinamento


@*<div class="modal" tabindex="-1" role="dialog" id="atividade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Avaliação Atividade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-8">*@
                    @*@Html.DropDownListFor(m => m.idAtividade, new SelectList((IEnumerable)ViewBag.PerfilITem, "idAtividade", "Nome"), "Escolha uma Atividade",
                        new
                        {
                            @class = "form-control col-md-9 selectpicker",
                            data_show_subtext = "true",
                            data_live_search = "true",
                            id = "activity"
                        })*@

                    @*TESTANDO MODAL ATIVIDADE;
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@

@*  MODAL TREINAMENTOS *@


<div class="modal" tabindex="-1" role="dialog" id="treinamento">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">AVALIAÇÃO TREINAMENTO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-8" id="dropdown-training">
                    @Html.DropDownListFor(m => m.idItemPerfil, new SelectList((IEnumerable<tblPerfilItens>)ViewBag.PerfilITem, "idPerfilItem", "Descricao"), "Escolha uma Atividade",
                        new
                        {
                            @class = "form-control col-md-9 selectpicker",
                            data_show_subtext = "true",
                            data_live_search = "true",
                            id = "itemID"
                        })

                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SaveMatrizTraining(@Model.idFuncionario,@Model.idTreinamento)">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
