@model Mercedes_Matriz_de_Conhecimento.tblFuncionarios

<!DOCTYPE html>


@* MODAL CONFIRM DELETE *@

<div class="modal fade" tabindex="-1" role="dialog" id="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Certeza que deseja excluir esse funcionário ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a class="btn btn-default btn-group-sm" href="@Url.Action("Delete","Employee",  new { id = Model.idfuncionario})"><i class="fas fa-trash icon-delete-modified"></i></a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
