
@{
    ViewBag.Title = "ACESSO NÃO AUTORIZADO";
}

<div class="container body-content">
    <h2>
        @*@Resource.AutenticacaoUsuarios*@
    </h2>

    <div class="alert alert-danger fade in">

        @if (TempData["_AuthenticationError"] != null)
        {
            <h4 class="text-info">@TempData["_AuthenticationError"]</h4>
        }
        else
        {
            <h4 class="text-info text-center">ACESSO NÃO AUTORIZADO</h4>
        }

    </div>

</div>



