
body {
    letter-spacing: 0;
    font-family: "DaimlerCS-Regular", Arial, sans-serif;
    line-height: 1;
    padding-bottom: 20px;
}

.scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}
/*.scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}*/
.colored-tiles {
    /*background-color:;*/
    border: solid 1px #bbbec1;
    border-radius: 4px;
}

.scrollable {
    overflow-x: scroll;
}

.body-container {
    margin-top: 6vh;
}

.vertical-align {
    vertical-align: middle;
    padding-top: 11vw;
}

.create-container {
    margin: 0 20vw;
}

.logo-mercedes {
    width: 10vh;
}

.table-place {
    padding-top: 3%;
}


tr.table-dark {
    background-color: #c9c1c1;
    color: black;
    ;
}

.btn-modified-create {
    background-color: #000000;
    border-color: #000000;
    color: white;
}

    .btn-modified-create:hover {
        background-color: #423f3f;
        border-color: #423f3f;
        color: white;
    }

.btn-modified-save {
    background-color: #00677F;
    border-color: #00677F;
    color: white;
}

    .btn-modified-save:hover {
        background-color: #1e9ab7;
        border-color: #1e9ab7;
        color: white;
    }

.icon-edit-modified {
    color: black;
}

.icon-delete-modified {
    color: white;
}

.container .button-place {
    margin-bottom: 0;
    padding-bottom: 0;
}

.page-pagination {
    align-items: center;
    display: flex;
    flex-flow: column;
}

/*   MATRIZ DE CONHECIMENTO   */

.main-container{
    display:flex;
    justify-content:flex-end;
    flex-flow:column;
    flex-wrap:nowrap;
    overflow-x:auto;
    margin-bottom:-3vh;
    flex-grow: 10;
}

/*  PRIMEIRO E SEGUNDO CONJUNTO */
.first-container{
    display:flex;
    flex-flow:row;
    justify-content:flex-end;
    flex-wrap:nowrap;
    overflow-x:auto;
    flex-grow: 5;
}

.item-first-container{
    /*height:4vh;*/
    width:3vw;
}

/* ------------------------- */
/*  TERCEIRO CONJUNTO */

.second-container{
    display:flex;
    flex-flow:row;
    justify-content:flex-end;
    flex-wrap:nowrap;
    overflow-x:auto;
}

.item-second-container{
    /*height:4vh;*/
    width:2vw;
}

.title-second-container{
    display:flex;
    justify-content:flex-end;
}