.logo-mercedes {
    width: 10vh;
}

.table-place {
    padding-top: 3%;
}

.table-dark th:first-child, td:first-child {
    border-top-left-radius: 0.5em;
}

.table-dark th:last-child, td:last-child {
    border-top-right-radius: 0.5em;
}

tr.table-dark {
    background-color: #7e7c7c;
    color: white;
}

body {
    letter-spacing: 0;
    font-family: "DaimlerCS-Regular", Arial, sans-serif;
    line-height: 1;
    padding-bottom: 20px;
}
