
body {
    letter-spacing: 0;
    font-family: "DaimlerCS-Regular", Arial, sans-serif;
    line-height: 1;
    padding-bottom: 20px;
}

.scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}
/*.scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}*/
.colored-tiles {
    /*background-color:;*/
    border: solid 1px #bbbec1;
    border-radius: 4px;
}

.scrollable {
    overflow-x: scroll;
}

.body-container {
    margin-top: 6vh;
}

.vertical-align {
    vertical-align: middle;
    padding-top: 11vw;
}

.create-container {
    margin: 0 20vw;
}

.logo-mercedes {
    width: 10vh;
}

.table-place {
    padding-top: 3%;
}


tr.table-dark {
    background-color: #c9c1c1;
    color: black;
}

.btn-modified-create {
    background-color: #000000;
    border-color: #000000;
    color: white;
}

    .btn-modified-create:hover {
        background-color: #423f3f;
        border-color: #423f3f;
        color: white;
    }

.btn-modified-save {
    background-color: #00677F;
    border-color: #00677F;
    color: white;
}

    .btn-modified-save:hover {
        background-color: #1e9ab7;
        border-color: #1e9ab7;
        color: white;
    }

.icon-edit-modified {
    color: black;
}

.icon-delete-modified {
    color: white;
}

.container .button-place {
    margin-bottom: 0;
    padding-bottom: 0;
}

.page-pagination {
    align-items: center;
    display: flex;
    flex-flow: column;
}

/*   MATRIZ DE CONHECIMENTO   */

.main-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    flex-wrap: nowrap;
    margin-top: 10vh;
    flex-grow: 10;
}

/*  PRIMEIRO E SEGUNDO CONJUNTO */
.container-default {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sub-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sub-container-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sub-container-ativ {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transform: rotate(-90deg);
    transform-origin: center bottom 0px;
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform-origin: bottom;
}

.rotate-fix {
    -webkit-transform-origin: 90% 100%;
}

.sub-container-infos {
    display: flex;
    flex-direction: row;
}

.container-size {
    height: 15vh;
}

.text-style-bigger {
    padding: 17vh !important;
}

.text-style {
    border: 1px solid #ddd;
    padding: 2vh;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.item-first-container {
    /*height:4vh;*/
    width: 3vw;
}

/* STYLES FROM V2 */
th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

    th.rotate > div {
        transform:
        /* Magic Numbers */
        translate(25px, 51px)
        /* 45 is really 360 - 45 */
        rotate(270deg);
        width: 30px;
    }

        th.rotate > div > span {
            border-bottom: 1px solid #ccc;
            /*padding: 5px 10px;*/
        }

.rotation-wrapper-outer {
    display: table;
}

.rotation-wrapper-inner {
    display: flex;
    padding: 50% 0;
    /*height: 0;*/
    align-items: flex-end;
    margin-bottom: 40px;
}

.element-to-rotate {
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
    transform: rotate(-90deg) translate(-100%);
    /* transform: rotate(90deg) translate(0, -100%); */
    margin-top: -50%;
    /* Not vital, but possibly a good idea if the element you're rotating contains
     text and you want a single long vertical line of text and the pre-rotation
     width of your element is small enough that the text wraps: */
    white-space: nowrap;
}

.table-title {
    background-color: #bec4be;
}

.no-border {
    border: 1px solid white !important;
}

.white-border {
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
}

.bg-red {
    background-color: #e46a6a;
}

.bg-gray {
    background-color: gray;
}

.bg-green {
    background-color: #3fd44a;
}
